
#lewo{
	float: left;
	width: 248px;
	min-height: 620px;
	padding:20px;
	background-color: #66FF33;
	text-align: justify;
	font-size: 18px;
}

#srodek{
	float: left;
	padding: 40px;
	width: 630px;
	background-color: #FFFF33;
	min-height: 580px;
	text-align: justify;
}

#stopka{
	clear: both;
	color: #66CCFF;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
#h1pesel{
	text-align: center;
	text-decoration: underline;
}
#stopka1{
	clear: both;
	color: #FFFF33;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
